<% if @apply.errors.any? %>
  alertify.error('<%= j (render partial: "shared/error_messages", locals: {object: @apply}) %>');
<% else %>
  alertify.success('<%= flash[:success] %>');
  $('#apply_button').hide().after('<button type = "button" class = "btn btn-primary btn-block btn-apply disabled"><%= I18n.t "apply.applied" %></button>');
  $('#JobModal').modal('hide');
  $('.no_jobs').hide();
<% end %>
$('#img-loading').hide();
$('.opacity-apply').css('opacity' ,1);
