<div class="item">
  <p>
    <%= image_tag "avatars/avatar12.jpg", class: "img-circle" %>
  </p>
  <blockquote class="no-symbol">
    <p><%= t "home_page.symbol_1.content_1" %></p>
    <footer><strong><%= t "home_page.symbol_1.content_2" %></strong>
      <%= t "home_page.symbol_1.content_3" %></footer>
  </blockquote>
</div>
