<div class="sectionContent">
  <article>
    <h3><%= achievement.name %></h3>
    <p class="subDetails"><%= l achievement.received_time, format: :long %></p>
    <p class="subDetails"><%= achievement.majors %></p>
    <p><%= achievement.organization %>.</p>
  </article>
</div>
