<div class="owl-item">
  <div class="single-item">
    <div class="staff-item">
      <div class="image-wrapper">
        <img src="http://recruit.framgia.vn/wp-content/uploads/2017/09/1.DuyKhanh.jpg" alt="">
      </div>
      <p class="name"><%= t "homepage.staff.male" %></p>
      <p class="position"><%= t "homepage.staff.male_pos" %></p>
      </div>
      <div class="staff-item">
        <div class="image-wrapper">
          <img src="http://recruit.framgia.vn/wp-content/uploads/2017/09/2.ThuHa_.jpg" alt="">
        </div>
        <p class="name"><%= t "homepage.staff.female" %></p>
        <p class="position"><%= t "homepage.staff.female_pos" %></p>
      </div>
  </div>
</div>
