@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

.anchor {
  font-size: 28px !important;
}
.service-item {
  margin-bottom: 55px !important;
}
.img-static-36x36 {
  height: 36px;
  width: 36px;
}
.img-static-36x33 {
  height: 33px;
  width: 36px;
}
.img-static-36x29 {
  height: 29px;
  width: 36px;
}
.img-static-36x31 {
  height: 31px;
  width: 36px;
}
.footer-branchs {
  border-bottom: 1px solid $white-drak;
}

.cus_color_branch {
  color: white;
  font-size: 12px;
  text-align: center;
}
.footer-bottom {
  padding: 10px 0 !important;
  text-align: center !important;
    margin: 0 auto !important;
    color: white !important;
}
.custom_footer {
  padding: 20px 0 0 !important;
}
.font-size-12-bold {
  font-size: 12px !important;
  font-weight:bold;
}
