<div class="col-md-3 bor-der">
  <%= image_tag activity.picture.url, class: "image-fosck" %>
  <h3><%= activity.title %></h3>
  <p class="date">
    <i class="material-icons"><%= t "homepage.vn.activity.query_builder" %></i>
    <%= l activity.created_at, format: :long %>
  </p>
</div>
