<% if can? :update, @company %>
  <div class="create-job-modal">
    <button type="button" class=" btn btn-lg btn-info col-md-12 btn-max-width float-right" id="post-job-btn"
      data-toggle="modal" data-target="#JobModal">
      <%= t "post_job" %>
    </button>
    <div class="modal fade" id="JobModal" role="dialog">
      <div class="modal-dialog job-modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= t "post_job" %></h4>
          </div>
          <div class="modal-body" id="job-create-form">
            <%= render "jobs/form" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <%= t ".close" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
