<div class="col-md-6 form-like">
  <%= simple_form_for @like, remote: true do |f| %>
    <%= f.hidden_field :job_id %>
    <%= f.hidden_field :bookmark %>
    <%= f.button :submit, t("bookmark_like.like"), class: "fa fa-thumbs-up" %>
  <% end %>
</div>
