.error-message {
 color: red;
 }

.not_found_apply{
  text-align: center;
  color: red;
  font-size: 1.2em;
}

.tbl-user-member {
  overflow: auto;
}

.tbl-user-member thead{
  background-color: white;
  color: red;
}

.nested-fields {
  margin-bottom: 5px;
}
