<div class="col-md-12 col-sm-12 first_show_branch">
  <h5><strong><%= branch.name %></strong></h5>
  <i class="fa fa-map-marker"></i>
  <p><%= address_of_branch branch %></p>
  <i class="fa fa-phone"></i>
  <p><%= branch.phone %></p>
</div>
