<% provide(:title, t("edit_company")) %>
<div class="block full">
  <div class="block-title">
    <h2><strong><%= t ".add_member" %></strong></h2>
  </div>
  <div class="ibox-content m-t" id="company">
    <div class="panel-body row">
      <div class="col-sm-10">
        <div class="float-e-margins animated fadeInRight">
          <div class="content">
            <h2>
              <span class="circle-wrapper"><i class="fa fa-building-o"></i></span>
              <%= t ".company_info" %>
            </h2>
            <%= render partial: "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
