<div class="col-md-4">
  <div class="item">
    <div class="image-wrapper">
      <%= image_tag activity.picture.url %>
    </div>
    <h3><%= activity.title %></h3>
    <p class="date">
      <i class="material-icons"><%= t "homepage.vn.activity.query_builder" %></i>
      <%= l activity.created_at, format: :long %>
    </p>
  </div>
</div>
