<div class="ibox-content m-t">
  <div id="email-address">
    <div class="panel-body row">
      <div class="col-sm-10">
        <div class="float-e-margins animated fadeInRight">
          <div class="content">
            <h2><span class="circle-wrapper"><i class="fa fa-fw fa-envelope"></i></span>
              Thông tin tài khoản
            </h2>
              <div class="alert hide"></div>
              <fieldset>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Địa Chỉ Email</label>
                    <div class="col-sm-9">
                      <p class="form-control-static">tinhhuu1996@gmail.com</p>
                      <div class="buttons">
                        <button class="btn btn-primary btn-outline btn-change-email" tabindex="0" id="btnChangeEmail" type="button">Thay đổi địa chỉ email
                        </button>
                        <button class="btn btn-primary btn-outline" id="btnChangePassword" tabindex="0" type="button">Thay đổi mật khẩu
                        </button>
                      </div>
                    </div>
                    </div>
                </form>
              </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ibox-content m-t" id="company">
    <div class="panel-body row">
        <div class="col-sm-10">
            <div class="float-e-margins animated fadeInRight">
                <div class="content">
                    <h2>
                        <span class="circle-wrapper"><i class="fa fa-building-o"></i></span>
                        Thông Tin Công Ty
                    </h2>
                                        <form name="profile" method="post" action="/v2/user/change-company-profile" id="profile_form" novalidate="novalidate" class="select-remove-width form-horizontal">
                    <!--Company Address-->
                    <fieldset class="m-t-lg" aria-hidden="false">
                        <div class="form-group">
                            <label class="col-sm-3 control-label required" for="profile_name" aria-required="true">Tên Công Ty</label>
                            <div class="col-sm-9">
                                <input type="text" id="profile_name" name="profile[name]" required="required" maxlength="255" placeholder="Ví dụ: VietnamWorks" tabindex="9" class="form-control" value="Framgia" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="m-t-n-xs col-sm-3 control-label" data-optional-text="<br/><small>(Không bắt buộc)</small>" for="profile_size">Quy Mô Công Ty<br><small>(Không bắt buộc)</small></label>
                            <div class="col-sm-9">
                                <input type="text" id="profile_name" name="profile[name]" required="required" maxlength="255" placeholder="Ví dụ: VietnamWorks" tabindex="9" class="form-control" value="Framgia" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="m-t-n-xs col-sm-3 control-label" data-optional-text="<br/><small>(Không bắt buộc)</small>" for="profile_address">Địa Chỉ Công Ty<br><small>(Không bắt buộc)</small></label>
                            <div class="col-sm-9">
                                <input type="text" id="profile_address" name="profile[address]" maxlength="255" placeholder="Ví dụ: 130 Sương Nguyệt Anh, Phường Bến Thành, Quận 1" tabindex="11" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label required" for="profile_categories" aria-required="true">Ngành Nghề</label>
                            <div class="col-sm-9">
                                <input type="text" id="profile_name" name="profile[name]" required="required" maxlength="255" placeholder="Ví dụ: VietnamWorks" tabindex="9" class="form-control" value="Framgia" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="m-t-n-xs col-sm-3 control-label" data-optional-text="<br/><small>(Không bắt buộc)</small>" for="profile_contact_name">Người Liên Hệ<br><small>(Không bắt buộc)</small></label>
                            <div class="col-sm-9">
                                <input type="text" id="profile_contact_name" name="profile[contact_name]" maxlength="100" placeholder="Ví dụ: Nguyen Van A" tabindex="13" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label required" for="profile_phone_number" aria-required="true">Điện Thoại</label>
                            <div class="col-sm-9">
                                <input type="text" id="profile_phone_number" name="profile[phone_number]" required="required" maxlength="20" placeholder="Số điện thoại liên hệ" tabindex="14" class="form-control" value="0934969859" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="m-t-n-xs col-sm-3 control-label" data-optional-text="<br/><small>(Không bắt buộc)</small>" for="profile_profile">Sơ Lược Về Công Ty<br><small>(Không bắt buộc)</small></label>
                            <div class="col-sm-9">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 200px;"><textarea id="profile_profile" name="profile[profile]" maxlength="10000" class="company-profile-textarea form-control" data-counter-target="companyProfile" cols="30" rows="7" placeholder="Sơ lược về công ty của bạn..." data-show-error-after=".hint-container" data-show-error-container=".col-sm-9" tabindex="15" style="overflow: hidden; width: 100%; height: 200px;"></textarea><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: -2px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 202.02px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                                <div class="clearfix hint-container">
                                    <em class="char-counter gray-light" data-counter-name="companyProfile" data-max-lengh="10000">Bạn còn có thể nhập <span class="num">10000</span> ký tự</em>
                                </div>
                            </div>
                        </div>
                        <div class="form-group company-benefits">
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="col-sm-3 control-label">Phúc Lợi Từ Công Ty</label>
                                    <div class="col-sm-9">
                                        <!-- Benefit 1-->
                                        <div class="row benefit-wrapper">
                                            <div class="col-sm-7">
                                                <div class="benefit-inputs">
                                                        <div class="clearfix form-group benefit-group group-1">
        <div class="col-sm-12">
            <div class="input-group">
                <div class="input-group-addon">
                    <div class="dropdown company-benefit-dropdown">
                        <a href="#" role="button" class="dropdown-toggle icon-box floatLeft" data-toggle="dropdown" tabindex="54" data-intro="Select the icon that matched with your benefit">
                            <i class="fa fa-lg fa-fw fa-question"></i>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu icon-group" role="menu" aria-labelledby="dropdown-icon">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Lương tháng 13" data-val="1" tabindex="54">
                                        <span>
                                            <a href="#" title="Thưởng"><i class="fa fa-lg fa-fw fa-dollar"></i></a>
                                            <span class="icon-label ">Thưởng</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Chương trình chăm sóc sức khỏe cao cấp dành cho bạn và gia đình" data-val="2" tabindex="54">
                                        <span>
                                            <a href="#" title="Chăm sóc sức khỏe"><i class="fa fa-lg fa-fw fa-user-md"></i></a>
                                            <span class="icon-label ">Chăm sóc sức khỏe</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: 20 ngày nghỉ phép có lương trong năm" data-val="3" tabindex="54">
                                        <span>
                                            <a href="#" title="Nghỉ phép có lương"><i class="fa fa-lg fa-fw fa-file-image-o"></i></a>
                                            <span class="icon-label ">Nghỉ phép có lương</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Cơ hội đào tạo nước ngoài" data-val="4" tabindex="54">
                                        <span>
                                            <a href="#" title="Đào tạo"><i class="fa fa-lg fa-fw fa-graduation-cap"></i></a>
                                            <span class="icon-label ">Đào tạo</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Giải thưởng hằng tháng dành cho nhân viên xuất sắc" data-val="5" tabindex="54">
                                        <span>
                                            <a href="#" title="Giải thưởng"><i class="fa fa-lg fa-fw fa-trophy"></i></a>
                                            <span class="icon-label ">Giải thưởng</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Thư viên online với 20,000 đầu sách và không giới hạn truy cập" data-val="6" tabindex="54">
                                        <span>
                                            <a href="#" title="Thư viện"><i class="fa fa-lg fa-fw fa-book"></i></a>
                                            <span class="icon-label ">Thư viện</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Macbook mới cho mỗi nhân viên" data-val="7" tabindex="54">
                                        <span>
                                            <a href="#" title="Máy tính xách tay"><i class="fa fa-lg fa-fw fa-laptop"></i></a>
                                            <span class="icon-label ">Máy tính xách tay</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Iphone cho mỗi nhân viên, với phụ cấp phí 20$/tháng" data-val="8" tabindex="54">
                                        <span>
                                            <a href="#" title="Điện thoại"><i class="fa fa-lg fa-fw fa-mobile"></i></a>
                                            <span class="icon-label ">Điện thoại</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: 2-3 chuyến du lịch trong năm để làm việc tại trụ sở chính" data-val="9" tabindex="54">
                                        <span>
                                            <a href="#" title="Cơ hội du lịch"><i class="fa fa-lg fa-fw fa-plane"></i></a>
                                            <span class="icon-label ">Cơ hội du lịch</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Chương trình “Innovation Time Off” xuyên suốt cả năm" data-val="10" tabindex="54">
                                        <span>
                                            <a href="#" title="Hoạt động nhóm"><i class="fa fa-lg fa-fw fa-glass"></i></a>
                                            <span class="icon-label ">Hoạt động nhóm</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Công ty có xe đưa đón dành cho tất cả các nhân viên" data-val="11" tabindex="54">
                                        <span>
                                            <a href="#" title="Xe đưa đón"><i class="fa fa-lg fa-fw fa-cab"></i></a>
                                            <span class="icon-label ">Xe đưa đón</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Bữa trưa và thức ăn nhẹ không giới hạn" data-val="12" tabindex="54">
                                        <span>
                                            <a href="#" title="Căn-tin"><i class="fa fa-lg fa-fw fa-coffee"></i></a>
                                            <span class="icon-label ">Căn-tin</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Phiếu giảm giá 100$ dùng được tại hơn 100 cửa hàng" data-val="13" tabindex="54">
                                        <span>
                                            <a href="#" title="Phiếu giảm giá"><i class="fa fa-lg fa-fw fa-gift"></i></a>
                                            <span class="icon-label ">Phiếu giảm giá</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Phụ cấp phí nhà trẻ 200$ mỗi tháng cho mỗi bé dưới 5 tuổi" data-val="14" tabindex="54">
                                        <span>
                                            <a href="#" title="Nhà trẻ"><i class="fa fa-lg fa-fw fa-child"></i></a>
                                            <span class="icon-label ">Nhà trẻ</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Cấp Misfit  cho mỗi nhân viên" data-val="15" tabindex="54">
                                        <span>
                                            <a href="#" title="Khác"><i class="fa fa-lg fa-fw fa-check-square-o"></i></a>
                                            <span class="icon-label ">Khác</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="profile_company_benefit1_benefit_id" name="profile[company_benefit1][benefit_id]" class="benefit-id" data-show-error-after=".input-group" data-show-error-container=".col-sm-12">
                <input type="text" id="profile_company_benefit1_benefit_desc" name="profile[company_benefit1][benefit_desc]" maxlength="100" class="benefit form-control" placeholder="Nhập chi tiết phúc lợi" data-show-error-after=".input-group" data-show-error-container=".col-sm-12" data-content="Setting your Company’s Benefits is a great way of differentiation and attracting the best professionals. Select one icon related and describe in few words your company benefits." data-toggle="tooltip" tabindex="55" data-original-title="" title="">
            </div>
        </div>
    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-5 benefit-hint-container">
                                                <button tabindex="56" data-toggle="tooltip" data-title="Xoá phúc lợi này" style="display:none" class="btn btn-link btn-remove-benefit m-l-n-lg first-btn" data-original-title="" title=""><i class="fa fa-close"></i></button>
                                                <em class="countdown gray-light invisible m-l-sm"> (Bạn còn có thể nhập <span class="num">100</span> ký tự)</em>
                                            </div>
                                        </div>
                                        <!-- Benefit 2-->
                                        <div hidden="hidden" class="row benefit-wrapper">
                                            <div class="col-sm-7">
                                                <div class="benefit-inputs">
                                                        <div class="clearfix form-group benefit-group group-1">
        <div class="col-sm-12">
            <div class="input-group">
                <div class="input-group-addon">
                    <div class="dropdown company-benefit-dropdown">
                        <a href="#" role="button" class="dropdown-toggle icon-box floatLeft" data-toggle="dropdown" tabindex="56" data-intro="Select the icon that matched with your benefit">
                            <i class="fa fa-lg fa-fw fa-question"></i>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu icon-group" role="menu" aria-labelledby="dropdown-icon">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Lương tháng 13" data-val="1" tabindex="56">
                                        <span>
                                            <a href="#" title="Thưởng"><i class="fa fa-lg fa-fw fa-dollar"></i></a>
                                            <span class="icon-label ">Thưởng</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Chương trình chăm sóc sức khỏe cao cấp dành cho bạn và gia đình" data-val="2" tabindex="56">
                                        <span>
                                            <a href="#" title="Chăm sóc sức khỏe"><i class="fa fa-lg fa-fw fa-user-md"></i></a>
                                            <span class="icon-label ">Chăm sóc sức khỏe</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: 20 ngày nghỉ phép có lương trong năm" data-val="3" tabindex="56">
                                        <span>
                                            <a href="#" title="Nghỉ phép có lương"><i class="fa fa-lg fa-fw fa-file-image-o"></i></a>
                                            <span class="icon-label ">Nghỉ phép có lương</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Cơ hội đào tạo nước ngoài" data-val="4" tabindex="56">
                                        <span>
                                            <a href="#" title="Đào tạo"><i class="fa fa-lg fa-fw fa-graduation-cap"></i></a>
                                            <span class="icon-label ">Đào tạo</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Giải thưởng hằng tháng dành cho nhân viên xuất sắc" data-val="5" tabindex="56">
                                        <span>
                                            <a href="#" title="Giải thưởng"><i class="fa fa-lg fa-fw fa-trophy"></i></a>
                                            <span class="icon-label ">Giải thưởng</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Thư viên online với 20,000 đầu sách và không giới hạn truy cập" data-val="6" tabindex="56">
                                        <span>
                                            <a href="#" title="Thư viện"><i class="fa fa-lg fa-fw fa-book"></i></a>
                                            <span class="icon-label ">Thư viện</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Macbook mới cho mỗi nhân viên" data-val="7" tabindex="56">
                                        <span>
                                            <a href="#" title="Máy tính xách tay"><i class="fa fa-lg fa-fw fa-laptop"></i></a>
                                            <span class="icon-label ">Máy tính xách tay</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Iphone cho mỗi nhân viên, với phụ cấp phí 20$/tháng" data-val="8" tabindex="56">
                                        <span>
                                            <a href="#" title="Điện thoại"><i class="fa fa-lg fa-fw fa-mobile"></i></a>
                                            <span class="icon-label ">Điện thoại</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: 2-3 chuyến du lịch trong năm để làm việc tại trụ sở chính" data-val="9" tabindex="56">
                                        <span>
                                            <a href="#" title="Cơ hội du lịch"><i class="fa fa-lg fa-fw fa-plane"></i></a>
                                            <span class="icon-label ">Cơ hội du lịch</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Chương trình “Innovation Time Off” xuyên suốt cả năm" data-val="10" tabindex="56">
                                        <span>
                                            <a href="#" title="Hoạt động nhóm"><i class="fa fa-lg fa-fw fa-glass"></i></a>
                                            <span class="icon-label ">Hoạt động nhóm</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Công ty có xe đưa đón dành cho tất cả các nhân viên" data-val="11" tabindex="56">
                                        <span>
                                            <a href="#" title="Xe đưa đón"><i class="fa fa-lg fa-fw fa-cab"></i></a>
                                            <span class="icon-label ">Xe đưa đón</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Bữa trưa và thức ăn nhẹ không giới hạn" data-val="12" tabindex="56">
                                        <span>
                                            <a href="#" title="Căn-tin"><i class="fa fa-lg fa-fw fa-coffee"></i></a>
                                            <span class="icon-label ">Căn-tin</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Phiếu giảm giá 100$ dùng được tại hơn 100 cửa hàng" data-val="13" tabindex="56">
                                        <span>
                                            <a href="#" title="Phiếu giảm giá"><i class="fa fa-lg fa-fw fa-gift"></i></a>
                                            <span class="icon-label ">Phiếu giảm giá</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Phụ cấp phí nhà trẻ 200$ mỗi tháng cho mỗi bé dưới 5 tuổi" data-val="14" tabindex="56">
                                        <span>
                                            <a href="#" title="Nhà trẻ"><i class="fa fa-lg fa-fw fa-child"></i></a>
                                            <span class="icon-label ">Nhà trẻ</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Cấp Misfit  cho mỗi nhân viên" data-val="15" tabindex="56">
                                        <span>
                                            <a href="#" title="Khác"><i class="fa fa-lg fa-fw fa-check-square-o"></i></a>
                                            <span class="icon-label ">Khác</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="profile_company_benefit2_benefit_id" name="profile[company_benefit2][benefit_id]" class="benefit-id" data-show-error-after=".input-group" data-show-error-container=".col-sm-12">
                <input type="text" id="profile_company_benefit2_benefit_desc" name="profile[company_benefit2][benefit_desc]" maxlength="100" class="benefit form-control" placeholder="Nhập chi tiết phúc lợi" data-show-error-after=".input-group" data-show-error-container=".col-sm-12" data-content="Setting your Company’s Benefits is a great way of differentiation and attracting the best professionals. Select one icon related and describe in few words your company benefits." data-toggle="tooltip" tabindex="57" data-original-title="" title="">
            </div>
        </div>
    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-5 benefit-hint-container">
                                                <button tabindex="58" data-toggle="tooltip" data-title="Xoá phúc lợi này" class="btn btn-link btn-remove-benefit m-l-n-lg" style="display: none;" data-original-title="" title=""><i class="fa fa-close"></i></button>
                                                <em class="countdown gray-light invisible m-l-sm">(Bạn còn có thể nhập <span class="num">100</span> ký tự)</em>
                                            </div>
                                        </div>
                                        <!-- Benefit 3-->
                                        <div hidden="hidden" class="row benefit-wrapper">
                                            <div class="col-sm-7">
                                                <div class="benefit-inputs">
                                                        <div class="clearfix form-group benefit-group group-1">
        <div class="col-sm-12">
            <div class="input-group">
                <div class="input-group-addon">
                    <div class="dropdown company-benefit-dropdown">
                        <a href="#" role="button" class="dropdown-toggle icon-box floatLeft" data-toggle="dropdown" tabindex="58" data-intro="Select the icon that matched with your benefit">
                            <i class="fa fa-lg fa-fw fa-question"></i>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu icon-group" role="menu" aria-labelledby="dropdown-icon">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Lương tháng 13" data-val="1" tabindex="58">
                                        <span>
                                            <a href="#" title="Thưởng"><i class="fa fa-lg fa-fw fa-dollar"></i></a>
                                            <span class="icon-label ">Thưởng</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Chương trình chăm sóc sức khỏe cao cấp dành cho bạn và gia đình" data-val="2" tabindex="58">
                                        <span>
                                            <a href="#" title="Chăm sóc sức khỏe"><i class="fa fa-lg fa-fw fa-user-md"></i></a>
                                            <span class="icon-label ">Chăm sóc sức khỏe</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: 20 ngày nghỉ phép có lương trong năm" data-val="3" tabindex="58">
                                        <span>
                                            <a href="#" title="Nghỉ phép có lương"><i class="fa fa-lg fa-fw fa-file-image-o"></i></a>
                                            <span class="icon-label ">Nghỉ phép có lương</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Cơ hội đào tạo nước ngoài" data-val="4" tabindex="58">
                                        <span>
                                            <a href="#" title="Đào tạo"><i class="fa fa-lg fa-fw fa-graduation-cap"></i></a>
                                            <span class="icon-label ">Đào tạo</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Giải thưởng hằng tháng dành cho nhân viên xuất sắc" data-val="5" tabindex="58">
                                        <span>
                                            <a href="#" title="Giải thưởng"><i class="fa fa-lg fa-fw fa-trophy"></i></a>
                                            <span class="icon-label ">Giải thưởng</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Thư viên online với 20,000 đầu sách và không giới hạn truy cập" data-val="6" tabindex="58">
                                        <span>
                                            <a href="#" title="Thư viện"><i class="fa fa-lg fa-fw fa-book"></i></a>
                                            <span class="icon-label ">Thư viện</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Macbook mới cho mỗi nhân viên" data-val="7" tabindex="58">
                                        <span>
                                            <a href="#" title="Máy tính xách tay"><i class="fa fa-lg fa-fw fa-laptop"></i></a>
                                            <span class="icon-label ">Máy tính xách tay</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Iphone cho mỗi nhân viên, với phụ cấp phí 20$/tháng" data-val="8" tabindex="58">
                                        <span>
                                            <a href="#" title="Điện thoại"><i class="fa fa-lg fa-fw fa-mobile"></i></a>
                                            <span class="icon-label ">Điện thoại</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: 2-3 chuyến du lịch trong năm để làm việc tại trụ sở chính" data-val="9" tabindex="58">
                                        <span>
                                            <a href="#" title="Cơ hội du lịch"><i class="fa fa-lg fa-fw fa-plane"></i></a>
                                            <span class="icon-label ">Cơ hội du lịch</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Chương trình “Innovation Time Off” xuyên suốt cả năm" data-val="10" tabindex="58">
                                        <span>
                                            <a href="#" title="Hoạt động nhóm"><i class="fa fa-lg fa-fw fa-glass"></i></a>
                                            <span class="icon-label ">Hoạt động nhóm</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Công ty có xe đưa đón dành cho tất cả các nhân viên" data-val="11" tabindex="58">
                                        <span>
                                            <a href="#" title="Xe đưa đón"><i class="fa fa-lg fa-fw fa-cab"></i></a>
                                            <span class="icon-label ">Xe đưa đón</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Bữa trưa và thức ăn nhẹ không giới hạn" data-val="12" tabindex="58">
                                        <span>
                                            <a href="#" title="Căn-tin"><i class="fa fa-lg fa-fw fa-coffee"></i></a>
                                            <span class="icon-label ">Căn-tin</span>
                                        </span>
                                    </div>

                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Phiếu giảm giá 100$ dùng được tại hơn 100 cửa hàng" data-val="13" tabindex="58">
                                        <span>
                                            <a href="#" title="Phiếu giảm giá"><i class="fa fa-lg fa-fw fa-gift"></i></a>
                                            <span class="icon-label ">Phiếu giảm giá</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Phụ cấp phí nhà trẻ 200$ mỗi tháng cho mỗi bé dưới 5 tuổi" data-val="14" tabindex="58">
                                        <span>
                                            <a href="#" title="Nhà trẻ"><i class="fa fa-lg fa-fw fa-child"></i></a>
                                            <span class="icon-label ">Nhà trẻ</span>
                                        </span>
                                    </div>
                                    <div class="item-wrapper clickable" data-eg="Ví dụ: Cấp Misfit  cho mỗi nhân viên" data-val="15" tabindex="58">
                                        <span>
                                            <a href="#" title="Khác"><i class="fa fa-lg fa-fw fa-check-square-o"></i></a>
                                            <span class="icon-label ">Khác</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="profile_company_benefit3_benefit_id" name="profile[company_benefit3][benefit_id]" class="benefit-id" data-show-error-after=".input-group" data-show-error-container=".col-sm-12">
                <input type="text" id="profile_company_benefit3_benefit_desc" name="profile[company_benefit3][benefit_desc]" maxlength="100" class="benefit form-control" placeholder="Nhập chi tiết phúc lợi" data-show-error-after=".input-group" data-show-error-container=".col-sm-12" data-content="Setting your Company’s Benefits is a great way of differentiation and attracting the best professionals. Select one icon related and describe in few words your company benefits." data-toggle="tooltip" tabindex="59" data-original-title="" title="">
            </div>
        </div>
    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-5 benefit-hint-container">
                                                <button tabindex="60" data-toggle="tooltip" data-title="Xoá phúc lợi này" class="btn btn-link btn-remove-benefit m-l-n-lg" style="display: none;" data-original-title="" title=""><i class="fa fa-close"></i></button>
                                                <em class="countdown gray-light invisible m-l-sm">(Bạn còn có thể nhập <span class="num">100</span> ký tự)</em>
                                            </div>
                                        </div>
                                        <div class="row add-more-benefit">
                                            <div class="col-sm-12"><a class="btn-add-more-benefit m-b-sm inline-block">+ Thêm phúc lợi</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="text-right col-sm-12">
                            <button class="btn btn-primary" type="button" id="save_profile_change" tabindex="18">Lưu</button>
                        </div>
                    </div>

                    <input type="hidden" id="profile__token" name="profile[_token]" value="eR6PPhDW1IOW7vQt4CyA6KhKTQzcGG0FfdMCRgbjIRo"></form>
                </div>
            </div>


            <div id="loading_template" hidden="hidden">
                Đang tải...
            </div>
        </div>
    </div>
</div>
