<footer class="clearfix">
  <div class="pull-right">
    <%= t ".crafted" %><i class="fa fa-heart text-danger"></i>
    <%= t ".by" %> <a href="http://goo.gl/vNS3I" target="_blank"><%= t ".edu" %></a>
  </div>
  <div class="pull-left">
    <span id="year-copy"></span> &copy; <a href="http://goo.gl/TDOSuC" target="_blank"><%= t ".proUI" %></a>
  </div>
</footer>
