<div class="section-detail section-employment">
  <div class="box border-info">
    <fieldset>
      <legend class="box-md">
        <i class="fa fa-fw fa-bank"></i><%= t "certificate.certi" %>
      </legend>
      <% if @certificates.blank? %>
        <div class="placeholder-section box-md">
          <p class="placeholder"><%= t "clubs._index.describle" %></p>
        </div>
      <% end %>
      <div id="form-certificate">
        <%= render partial: "certificates/certificate", collection: @certificates, as: :certificate %>
      </div>
      <%= link_to (t"certificate.add"), new_certificate_path, id: "btn-add-certificate",
        class: "btn btn-default btn-block no-border add-one-more-section", remote: true %>
    </fieldset>
  </div>
</div>
