$('#info_certificate_<%= @certificate.id %>').hide();
$('#info_certificate_<%= @certificate.id %>').after('<div id = "area_form_certificate_<%= @certificate.id %>"><%= j render "certificates/form" %></div>');

