<p><%= t "mailer.email.content" %></p>

<p><%= link_to t("passwords.edit.submit"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "mailer.email.request" %></p>
<p><%= t "mailer.email.access" %></p>
