.modal-create-form {
  padding-bottom: 0px !important;
}

.btn-close-apply {
  margin-left: 5px !important;
}

.title-modal {
  font-weight: bold;
}


.avatar {
  width: 200px;
  height: 200px;
}

.table-user-information {
  margin-bottom: 0 !important;
}
