$white: #fff;
$grey-light1: #eee;
$grey-light2: #ddd;
$gray: #e0e0e0;
$grey: #666;
$gray-light-1: #e2e2e2;
$gray-light-2: #f4f4f4;
$grey-light1: #eee;
$gray-medium-1: #999;
$gray-medium-2: #ddd;
$gray-dark-hard-1: #333;
$gray-dark-hard-2: #424242;
$light-blue-1: #2DCEFF;
$light-blue-2: #00B9F2;
$blue-super-light: #f7fdff;
$orange-light: #f7941d;
$orange-medium: #e38008;
$orange-dark: #b76706;
$red-light: #ff6666;
$light-yellow: #ffad33;
$light-color: #FFFFFF;
$dark-color: #000000;
$accent-color: #B7E9FF;
$grey-dark : #21252d;
$white-color: #ffffff;
$grey-light: rgba(0,0,0,0.5);
$light-blue: #008B8B;
$origin-light: #f39c12;
$blue-light: #1bbae1;
$gray-light-3: #eaedf1;
$blue-light-1: #001233;
$white-drak: rgba(255, 255, 255, 0.5);
$green-blue: #00b9f2;
$dark-blue: #0e7ccd;
$light-blue-5: #1bbae1;
$blue-lavender: #E6E6FA;
$light-green-6: #6ad2eb;
$dark: #555;
$dodger-blue: #1593b3;
$grey-light-1: rgba(0, 0, 0, 0.45);
$white-light: #f7f7f6d6;
$blue-light-7: #07313a;
$blue-light-8: #0099ff ;
$blue-light-10: rgba(20, 234, 9, 0.89);
$black-light: #E6E6FA;
$black-light-2: #EAEDE9;
$blue-light-9: rgba(115, 152, 175, 0.89);
$dark-gray: rgba(0, 0, 0, 0.3);
$red: red;
$black-gray: #404040;
$gray-strong: #cfc2c2;
$white-gray: #e9ebee;
$gray-strong: rgba(0, 0, 0, 0.5);
$blue-light-10: #001ba3;
$dark: #292929;
$light: #efefef;
$red: #D91E18;
$green: #2ECC71;
$blue: #4183D7;
$green: #007e90;
$black-light: #88734d;
$green-light: #74edd7;
$green-light1: #363945;
$green-light2: #1bbae1;
$white-light1: #1bbae1;
$black: #000000;
$turquoise: #40e0d0;
$black-light-3: #9faab7;
