.remember_me {
  padding-top: 0 !important;
}

.setting_user {
  .avatar_user {
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 20px;
    vertical-align: top;
  }
}

.profile_user {
  margin-bottom: 5px !important;
}

.cp_our_jobs_section {
  border-top: 1px solid #00b9f2;
}
