@import 'bootstrap-sprockets';
@import 'bootstrap';
.box {
  margin-bottom: 15px;
}
.box-md {
  padding: 32px;
}
.placeholder {
  font-style: italic;
}
.profile .section-detail legend.box-md {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 25px;
  padding-left: 25px;
}
.form-btn-edit {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.content-section {
  position: relative;
  padding: 25px 30px;
}
.new-section{
  position: relative;
  padding: 25px 30px;
  padding-bottom: 0;
  z-index: 2;
}
.view-control {
  word-wrap: break-word;
}
.btn.add-one-more-section.no-border {
  border-top: 1px;
}
.m-t-lg {
  margin-top: 30px;
}
.block {
  display: block;
}
.bottom-form{
  padding-bottom: 50px;
}
