@import 'color';

.remember_me {
  padding-top: 0 !important;
}

.setting_user {
  .avatar_user {
    width: 35px;
    height: 35px;
    border: 2px solid $white;
    border-radius: 20px;
    vertical-align: top;
  }
}

.profile_user {
  margin-bottom: 5px !important;
}

.cp_our_jobs_section {
  border-top: 1px solid $green-blue;
}
.box-md {
  padding: 7px !important;
}
.col-info{
  color: $dark-blue;
}
.nav>li.active a{
  border-bottom: 2px solid $light-blue-5 !important;
  background-color: $blue-lavender !important;
  font-weight: 600 !important;
}
.font-right{
  color: $dark-blue !important;
  font: 15px italic !important;
}
.count-in{
  background-color: $light-green-6 !important;
  color: $white !important;
}
.icon-col{
  color: $light-green-6;
}
.log-line{
  color: $blue-light;
}
.branch-name{
  padding-bottom: 7px;
  text-transform: uppercase;
  font-size: 19px;
}
.image-fosck{
  width: 100% !important;
}
.bor-der{
  margin: 25px;
}
.lount{
  font-size: 13px !important;
}
.time_ago{
  font-size: 13px !important;
  font: italic 13px/30px Georgia, serif !important;
}
.activity-size{
  font-size: 15px;
}
.btn-change6{
  text-align: center;
}
.change-ed{
  color: $blue-light !important;
}
.btn-change6:hover{
  -webkit-transform: scale(1.1);
}
.border{
  border: 1px solid $green-blue !important;
  border-radius: 3px !important;
}
.col-logo{
  padding-left: 46px !important;
  padding-top: 19px !important;
}
