@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

.box-md {
  padding: 32px;
}
.placeholder {
  font-style: italic;
}
.box {
  background: $white;
  margin-bottom: 15px;
  border: 0;
  box-shadow: 0 .5px 0 rgba(0,0,0,.1);
}
.my-profile .section-detail legend.box-md {
  background: $white !important;
  color: $grey !important;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 25px;
  padding-left: 25px;
  border-bottom: 1px solid $grey-light1;
  border-top: 1px solid $grey-light2;
}
.form-btn-edit {
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 10;
}
.content-section {
  position: relative;
  padding: 25px 30px;
}
.new-section{
  position: relative;
  padding: 25px 70px;
  padding-bottom: 0;
  z-index: 2;
  overflow: auto;
}
.new-sectionuser{
  position: relative;
  padding: 25px 229px 25px 63px;
  padding-bottom: 0;
  z-index: 2;
  overflow: auto;
}
.content-section{
  position: relative;
  padding: 25px 30px;
}
.view-control {
  word-wrap: break-word;
}
.btn.add-one-more-section.no-border {
  border-top: 1px;
}

.add-one-more-section{
  margin-bottom: 0px;
}

.m-t-lg {
  margin-top: 30px;
}
.block {
  display: block;
}
.bottom-form
 {
  padding-bottom: 50px;
  border-top: 1px $grey-light2 solid !important;
  background-color: $gray;
 }

/* Jobs in Company */

.create-job-modal {
  .job-modal-dialog {
    width: 900px;
  }
}
.cp_our_job_item {
  width: 100%;
  clear: both;
  padding: 5px 0 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  border-bottom: 1px solid $gray-light-1;
  display: none;
  li {
    display: inline-block;
    padding: 0 5px;
    color: $gray-medium-1;
    font-size: 12px;
    text-transform: uppercase;
  }
  ul {
    padding-left: 0px;
  }
  i {
    margin-right: 5px;
  }
  p {
    margin-bottom: 0px;
  }
  .job_control_button {
    li {
      padding: 0px;
    }
    i {
      margin-right: 0px;
      padding-right: 0px;
    }
  }
}

.cp_job_view_detail a {
  display: inline-block;
  width: 100%;
  max-width: 150px;
  border: 1px solid $gray-medium-1;
  height: 42px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: $gray-dark-hard-1;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-size: 13px;
}

.job-create-content {
  min-height: 100px;
  line-height: 24px;
}

.job-create-name {
  font-weight: bold;
}

.job-modal-dialog {
  width: 900px;
}

.create-job-btn {
  position: relative;
}

.centerize {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.no_jobs {
  text-align: center;
  font-size: 20px;
  color: $gray-medium-1;
  margin-bottom: 15px;
}

.show_jobs {
  h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid $gray-light-1;
  }
}

.show_companies {
  .post-job {
    margin-bottom: 10px;
  }
  .jobs-count {
    margin-top: 10px;
  }
}
.job-form {
  textarea.form-control {
    min-height: 150px;
    line-height: 24px;
  }
}

.cp_Job_summary_info {
  h4 {
    font-weight: bold;
  }
}

/* Show Job */

.job-header-info {
  .time_ago {
    color: $gray-medium-1;
  }
}

.job-site-section-top {
  height: 84px;
  padding-top: 0px;
}

.job_requirement {
  li {
    padding: 0 10px;
    font-size: 15px;
    text-transform: uppercase;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
  }
  ul {
    padding-left: 0px;
  }
  i {
    margin-right: 5px;
  }
}

.job_content {
  p {
    white-space: pre-line;
    font-size: 15px
  }

  .list:before {
    content: "- ";
    text-indent: -5px;
  }
}

.page-job-detail {
  position: relative;
  font-family: Roboto, Arial, sans-serif;
}

.page-job-detail.page-job-detail_no-background .page-background {
  background-image: linear-gradient(-180deg, $light-blue-1 2%, $light-blue-2 100%);
  height: 160px;
}

.page-job-detail .page-background {
  height: 238px;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-position: top center;
  background-size: cover;
}
.page-job-detail .page-background2 {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-position: top center;
  background-size: cover;
}

.page-job-detail.page-job-detail_no-background .page-background2 {
  background-color: $grey-light1;
  margin-top: 200px;
  height: 80%;
  z-index: 0;
}

.page-job-detail.page-job-detail_no-background .page-job-detail__header {
  margin-top: 130px;
}

.page-job-detail__detail .tab-pane-job-info .tab-sidebar {
  left: 70%;
}

.page-job-detail__detail .tab-sidebar {
  width: 30%;
}

.page-job-detail__detail .box-summary {
  border: 1px solid rgba(0, 185, 242, 0.5);
  padding: 23px;
  background-color: $blue-super-light;
  border-radius: 3px;
}

.page-job-detail__detail .tab-pane-job-info .tab-main-content {
  right: 30%;
}

.page-job-detail__detail .tab-main-content {
  width: 70%;
  padding-right: 40px;
}

.page-job-detail__header .logo-wrapper {
  height: auto;
  width: 100%;
  display: inline-block;
  position: relative;
  img {
    max-height: 105px;
  }
}

.page-job-detail__detail h2 {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 12px;
  margin-bottom: 17px;
  border-bottom: 2px solid rgba(206, 211, 213, 0.5);
}

.page-job-detail__detail .nav-tabs li a {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  font-size: 13px;
  border: 0;
  line-height: 17px;
  padding: 12px 35px 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: $grey-light1;
  color: $gray-dark-hard-2
}

.page-job-detail__detail .presentation .nav>li.active {
  background-color: $gray-light-1
}

.page-job-detail__detail .box-summary .summary-item {
  padding: 12px 0;
  border-bottom: 1px solid rgba(206, 211, 213, 0.5);
}

.page-job-detail__detail .box-summary .summary-content .content-label {
  text-transform: uppercase;
  color: $gray-medium-1;
  display: block;
  font-weight: 300;
  font-size: 13px;
}

.page-job-detail__header .job-title {
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 8px;
  font-family: Roboto, Arial, sans-serif;
}

.summary-icon {
  i {
    font-size: 30px;
  }
}

.page-job-detail__header .company-name {
  text-transform: uppercase;
  display: inline;
}

.col-btn {
  display: flex;
  align-items: center;
}

.job-apply-btn {
  .btn-primary {
    margin-left: 16px;
    margin-bottom: 10px;
    width: 183px;
    background-color: $orange-light;
    border-color: $orange-light;
    color: $white;
    font-size: 20px;
    left: 10px;
  }
  .lock{
    background: $white;
    font-size: 16px;
    color: $light-yellow;
    margin-top: 10px;
  }
  .btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary.active, .open .btn-primary.dropdown-toggle {
    background-color: $orange-medium;
    border-color: $orange-dark;
    color: $white;
  }
}
.label-applied{
  width: 170px;
  background-color: $white;
  border-color: $orange-light;
  color: $orange-light;
  font-size: 20px;
  left: 10px;
}
.salary {
  .text-primary {
    color: $orange-light;
    font-size: 25px;
  }
}
.banner-top {
  img {
    width: 100%;
  }
}
/* Create Job Modal Form */

.has-error {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: $red-light;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
  background-color: $gray-light-2;
  border-color: $grey-light2;
  color: inherit;
  cursor: default;
  z-index: 2
}

.pagination>span>a,.pagination>span>span,.pagination>.current,.pagination>.gap {
  background-color: $white;
  border: 1px solid $grey-light2;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 4px 10px;
  position: relative;
  text-decoration: none
}

.text-gray{
  height: 21px;
  opacity: 1;
  margin-top: 15px;
  font-size: 15px;
}
.job-like-btn {
  position: relative;
  .btn {
    margin: auto;
    width: 84px;
    height: 40px;
    background: $light-color;
    font-size: .9rem;
    font-family: Futura;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid darken($accent-color, 10%);
    box-shadow: 0px 2px 0px rgba($dark-color,.1);
    outline: none;
    &:hover {
      color: darken($accent-color, 10%);
      transform: scale(1.2);
    }
  }
  &:active {
    transform: scale(1.4);
  }
  .fa {
    font-size:15px;
  }
  .btn-dislike {
    font-size: 16px;
    background: $accent-color;
    color: $dark-color;
  }
  .btn-disbookmark {
    font-size: 15px;
    background: $accent-color;
    color: $dark-color;
  }
}
.book-marked {
  font-size: 13px;
}
.liked {
  margin: 20px;
}

.nested-reward-benefits {
  .nested-label {
    float: right;
  }
}

.add_benefit_links {
  margin-left: 20px;
}
.display-none {
  display: none;
}

.has_error {
  color: #e74c3c !important;
  font-size: 12px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.check-cv{
  background-color: $white-color;
}
.span-left{
  padding-left: 20px;
}
.avatar_users {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  vertical-align: top;
  margin-left: 100px;
}
.files_your .btn-file input[type='file'] {
  display: none;
}
.files_field{
  display: none;
  padding-bottom: 10px;
}
.bot-form{
  margin-top: 10px;
}
.pag .pagination span, .pag .pagination a {
  border-radius: 15px;
  margin: 0px 2px;
  font-size: 18px;
  &:hover {
    background: $blue-light;
  }
}
.pag .pagination span {
  background: $grey-light1;
}
.img-load {
  display:none;
  position: fixed;
  left: 43%;
  top: 35%;
  width: 240px;
  z-index: 2100;
}
.btn-group{
  padding-top: 10px;
}
.col-white{
  color: white;
}
.to-top{
  display: inline;
  background-color: $light-blue !important;
}

.items-profile {
  border-right: 1px solid $gray-light-3 !important;
}

.item-profile {
  color: $dark-blue !important;
  font-weight: normal !important;
}

.nav-pills > li.active > a {
  color: $dark-blue !important;
}

// commons
.footer-branchs {
  border-bottom: 1px solid $white-drak;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-10-0 {
  padding: 10px 0 !important;
}
.text-color-white {
  color: white !important;
}
.text-aline-center {
  text-align: center;
}
.font-size-12-bold {
  font-size: 12px !important;
  font-weight:bold;
}
.font-size-12 {
  font-size: 12px;
}
.padding-left-right-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.col-branch-addr {
  min-height: 50px;
}
.user-header {
  padding: 15px 0;
}

.backgroud-user-header {
  padding-top: 65px !important;
}

.img-slide {
  height: 350px;
}

.help-block{
  color: $red !important;
}

.footer-custom {
  color: $white !important;
}

.not_apply {
  text-align: center;
}

.expires-color {
  color: $blue;
}

.expired-color {
  color: $red;
}

.bookmark_like-color{
  color: $blue;
}

.col-sm-3-apply {
  width: 25% !important;
  float: right;
  margin-bottom: 15px !important;
}

.all-applies {
  clear: both;
}
