<div id="achievements">
  <div class="section-detail section-employment">
    <div class="style-in">
      <fieldset>
        <div class="placeholder-achievement box-md <%= define_style_placeholder @achievements %>">
          <p class="placeholder">
            <%= check_information @user %>
          </p>
        </div>
        <div id="form-achievements">
          <%= render partial: "achievements/achievement", collection: @achievements, as: :achievement %>
        </div>
        <% if current_user.is_user? @user %>
          <div class="row">
            <div class="col-md-5 offset-md-4"></div>
            <div class="col-md-2 offset-md-6">
              <%= link_to t("clubs._index.add"), new_achievement_path(user_id: @user.id),
                id: "btn-add-achievements",
                class: "btn btn-primary btn-block no-border add-one-more-section",
                remote: true %>
            </div>
          </div>
        <% end %>
        <div id = "area_form_achievement">
        </div>
      </fieldset>
    </div>
  </div>
  <div class="bot-form"></div>
</div>
