<div class="section-detail section-employment">
  <div class="box border-info">
    <fieldset>
      <legend class="box-md">
        <i class="fa fa-fw fa-bank"></i><%= t "clubs._index.achievements" %>
      </legend>
      <% if @achievements.blank? %>
        <div class="placeholder-section box-md">
          <p class="placeholder"><%= t "clubs._index.describle" %></p>
        </div>
      <% end %>
      <div id="form-achievements">
        <%= render partial: "achievements/achievement", collection: @achievements, as: :achievement %>
      </div>
      <% if current_user.is_user? @user %>
        <%= link_to t("clubs._index.add"), new_achievement_path, id: "btn-add-achievements",
          class: "btn btn-default btn-block no-border add-one-more-section",
          remote: true %>
      <% end %>
    </fieldset>
  </div>
</div>
