<section class="site-section site-section-light site-section-top themed-background-dark">
  <div class="container">
    <h1 class="animation-slideDown"><strong><%= header_title(yield(:page_title)) %></strong></h1>
    <h2 class="h3 animation-slideUp"><%= header_title(yield(:page_sub_title)) %></h2>
  </div>
</section>
