<div class="row">
  <%= yield :footer_custom %>
</div>

<div class="row footer-bottom font-size-12">
  <div class="col-md-10 col-md-offset-1">
    <div class="padding-top-10 text-aline-center text-color-white">
      &copy; <%= t ".year" %> <span class="font-size-12-bold"><%= t ".author" %></span><%= t ".copyright" %>
    </div>
  </div>
</div>
