<header>
  <div class="container">
    <%= link_to root_path, class: "site-logo" do %>
      <i class="fa fa-gg" aria-hidden="true"></i>
      <strong><%= t "index.fram" %></strong><%= t "index.recruit" %>
    <% end %>
    <nav>

    </nav>
  </div>
</header>
