<header>
  <div class="container">
      <div class="wrapper">
        <div class="logo">
          <a href="#" class="custom-logo-link" rel="home" itemprop="url">
            <img width="134" height="40"
              src="http://recruit.framgia.vn/wp-content/uploads/2016/06/framgia-logo-black-1.png"
              class="custom-logo" alt="framgia-logo-black" itemprop="logo">
          </a>
        </div>
        <div class="header-right">
          <i class="material-icons menu-icon menu-open">
        <%= t "homepage.both.menu" %></i>
      <i class="material-icons menu-icon menu-close">
        <%= t "homepage.both.close" %></i>
        </div>
      </div>
  </div>
</header>
